*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    background-color: aqua;
    padding: 0px 20px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    list-style-type: none;
    margin-left: auto;

}

.nav-list a{
    text-decoration: none;
}

.banner img{
    height: 600px;
    width: 100%;
}

.main{
    width: 95vw;
    margin: auto;
}

.menu{
    width: 80%;
    margin: auto;

}

.main h2{
    text-align: center;

}
.menu-items{
    display: flex;
    gap: 20px;
    text-align: justify;
}

.menu-items .items img{
    width: 300px;
    height: 200px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;

}
.footer{
    text-align: center;
    
    padding: 10px ;
}
/* ol{
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-left: auto;
}

ol li a{
    text-decoration: none;
    background-color: rgba(146, 107, 57, 0.849) ;
    color: aliceblue;
}

ol li a:hover{
    background-color: rgba(196, 129, 42, 0.76);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
  
  
    
} */
body{
    background-color: rgb(255, 255, 255);
}