.container{
    background-color: rgb(11, 94, 19);
    display: flex;
   justify-content: center;
   align-items: center;
   width: 50vw;
   height: 30vw;
   box-shadow: 10px 10px  #070709d6;
   
}
.box{
    background-color: rgb(255, 0, 0);
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-shadow: 2px 2px rgb(159, 156, 156);
}
body{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50vw;
    width: 100vw;
}
