
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap');

body {
  font-family: "Josefin Sans", sans-serif;
}


.list .a{list-style-type: circle;}
.list .b{list-style-type: disc;}
.list .c{list-style-type: square;}
.list .d{list-style-type: upper-roman;}
.list .e{list-style-type: lower-roman;}
.list .f{list-style-type: lower-alpha;}

.table, th, td{
    border: 2px solid red;
    border-collapse: collapse;

}
.table{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
}

th{
    color: #ffb703;
}